//colors
$bodyColor: #110317;
$white: #ffffff;
$creamyWhite: #dadada;
$purple: #510675;
$font-poppins: "Poppins", sans-serif;

//mixins
@mixin font-block-open-sans($font-weight, $font-size, $line-height) {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-block-poppins($font-weight, $font-size, $line-height) {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin login-btn($margin-left, $margin-right) {
  background: $bodyColor;
  box-shadow: inset 0px 0px 4px 4px rgba(81, 6, 117, 1);
  border-radius: 15px;
  padding: 0 0.5rem;
  margin-left: $margin-left;
  margin-right: $margin-right;
}

@mixin login-link {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 2px $white;
}

@mixin contact-btn($margin-left) {
  background: $purple;
  border-radius: 15px;
  padding: 0 0.5rem;
  margin-left: $margin-left;
  box-shadow: inset 0px 0px 4px 4px rgba(81, 6, 117, 1);
}

@mixin contact-link {
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 1px 2px $white;
}

@mixin header-mq {
  @media only screen and (max-width: 991px) {
    @include font-block-poppins(700, 50px, 60px);
  }

  @media only screen and (max-width: 767px) {
    @include font-block-poppins(700, 40px, 50px);
  }

  @media only screen and (max-width: 541px) {
    @include font-block-poppins(700, 30px, 40px);
  }

  @media only screen and (max-width: 400px) {
    @include font-block-poppins(700, 23px, 33px);
  }

  @media only screen and (max-width: 320px) {
    @include font-block-poppins(700, 20px, 30px);
  }
}

@mixin h2-mq {
  @media only screen and (max-width: 991px) {
    @include font-block-poppins(700, 50px, 60px);
  }

  @media only screen and (max-width: 767px) {
    @include font-block-poppins(700, 50px, 60px);
  }

  @media only screen and (max-width: 541px) {
    @include font-block-poppins(700, 30px, 40px);
  }

  @media only screen and (max-width: 320px) {
    @include font-block-poppins(700, 28px, 30px);
  }
}

@mixin p-mq {
  @media only screen and (max-width: 768px) {
    @include font-block-poppins(400, 20px, 30px);
  }

  @media only screen and (max-width: 541px) {
    @include font-block-poppins(400, 16px, 26px);
  }

  @media only screen and (max-width: 400px) {
    @include font-block-poppins(400, 14px, 24px);
  }

  // @media only screen and (max-width: 320px) {
  //   @include font-block-poppins(400, 18px, 30px);
  // }
}

@mixin foreign-gods {
  background: linear-gradient(
    90deg,
    rgba(213, 177, 230, 1) 4%,
    rgba(81, 6, 117, 1) 86%,
    rgb(52, 2, 75) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin list-bullet-color($color) {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $color; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

@mixin purple-glow-container($border-radius) {
  background: $bodyColor;
  box-shadow: inset 0px 0px 4px 4px rgba(81, 6, 117, 1);
  border-radius: $border-radius;
  color: $creamyWhite;
}

/************************************************* base styles ***************************************/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: $creamyWhite;
}

body {
  padding-bottom: 0;
  margin: 0;
  background-color: $bodyColor;
}
/** end of base styles **/
////////////////////////////////////

/************************************************* general styles ***************************************/
.purple-buttons {
  color: $white;
  @include contact-btn(0);
  max-width: 100%;
  text-align: center;
  padding: 0.5rem;
  text-transform: uppercase;
  float: right;

  border-radius: 15%;
  @include font-block-poppins(300, 20px, 30px);

  @media only screen and (max-width: 767px) {
    @include font-block-poppins(300, 14px, 24px);
  }
}
/************************************************* end of general styles ***************************************/

//////////////////////////////////navbar styling
.menu-bar {
  padding: 1rem 0;

  .navbar-brand {
    color: $white !important;
    @include font-block-open-sans(700, 25px, 36px);
  }

  .nav-item {
    margin: 0.5rem 1.5rem;

    .nav-link {
      color: $white !important;
      @include font-block-open-sans(400, 18px, 24px);
    }
  }

  .contact-button {
    @include contact-btn(1.5rem);

    #contact-link {
      @include contact-link();
    }
  }

  .login-button {
    @include login-btn(0.5rem, 0.5rem);

    #login-link {
      @include login-link();
    }
  }

  .navbar-toggler {
    outline: $bodyColor;
    border: 1px solid $bodyColor;
    background-color: $bodyColor;

    #hamburger {
      color: $white !important;
    }
  }
}
////////////////////////////////end of navbar styling

///////////////////////////////////////welcome section
.purple-patch-image {
  position: relative;
  margin-top: 4rem;
  width: 100%;

  @media only screen and (max-width: 1000px) {
    margin-top: 2rem;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 0;
  }

  .purple-patch {
    background: #1c022c;
    opacity: 0.69;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    border-radius: 50%;
    width: 50%;
    height: 30em;
    position: absolute;

    @media only screen and (max-width: 991px) {
      height: 20em;
    }

    @media only screen and (max-width: 767px) {
      height: 10em;
      margin-top: 4rem;
    }

    @media only screen and (max-width: 541px) {
      margin-top: 2rem;
      height: 7em;
    }
  }

  #image-welcome-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #first-image-container {
      margin-top: 2rem;
      width: 50%;
      position: absolute;
      flex-shrink: 1;
      flex-grow: 1;
      align-self: center;
      // transform: rotate(-12.77deg);

      @media only screen and (max-width: 500px) {
        margin-top: 0;
      }

      img {
        width: 100%;
      }
    }

    #welcome {
      width: 50%;
      margin-left: 60%;
      text-align: center;
      flex-shrink: 1;
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        flex-shrink: 1;
        flex-grow: 1;
        align-self: center;
        width: 100%;
        color: $creamyWhite;
        text-transform: uppercase;
        @include font-block-poppins(700, 65px, 75px);
        @include header-mq();

        span {
          @include foreign-gods();
          font-weight: 400;
        }
      }

      p {
        flex-shrink: 1;
        flex-grow: 1;
        width: 100%;
        text-align: center;
        color: $creamyWhite;
        @include font-block-poppins(400, 25px, 36px);

        @include p-mq();
      }
    }
  }
} ////////////////////////////////////////////////////end of welcome section styling

/////////////////////////////wrap1 styling
.wrap1 {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;

  #intro-jumbotron {
    width: 50%;
    align-self: center;

    h2 {
      @include font-block-poppins(400, 65px, 75px);
      @include h2-mq();
      @include foreign-gods();
    }

    p {
      margin-bottom: 2rem;

      @media only screen and (max-width: 541px) {
        margin-bottom: 1rem;
      }
    }
    p:first-of-type {
      @include font-block-poppins(400, 55px, 65px);
      @include p-mq();
    }

    p:last-of-type {
      @include font-block-poppins(400, 35px, 45px);

      @media only screen and (max-width: 991px) {
        @include font-block-poppins(400, 30px, 40px);
      }

      @media only screen and (max-width: 767px) {
        @include font-block-poppins(400, 25px, 35px);
      }

      @media only screen and (max-width: 541px) {
        @include font-block-poppins(400, 18px, 25px);
      }

      @media only screen and (max-width: 400px) {
        @include font-block-poppins(400, 16px, 20px);
      }
    }

    button {
      @include font-block-poppins(400, 20px, 33px);
      margin-top: 2rem;
      background: $bodyColor;
      box-shadow: inset 0px 0px 4px 4px rgba(81, 6, 117, 1);
      border-radius: 10px;
      padding: 0.5rem 1rem;
      min-width: 30%;
      color: $white;
      text-transform: uppercase;

      @media only screen and (max-width: 1000px) {
        margin-top: 0;
      }

      @media only screen and (max-width: 767px) {
        @include font-block-poppins(400, 18px, 23px);
      }

      @media only screen and (max-width: 500px) {
        @include font-block-poppins(400, 12px, 18px);
      }
    }
  }
  #second-image-container {
    width: 50%;

    align-self: center;

    img {
      width: 100%;
    }
  }
}
/////////////////////////////////////////////////////////////end of wrap1 styling

/////////////////////////////////////////////////////////////wrap2 styling
.wrap2 {
  margin-top: 2rem;
  width: 100%;
  text-align: center;

  @media only screen and (max-width: 1000px) {
    margin-top: 5rem;
  }

  h2 {
    @include font-block-poppins(700, 65px, 75px);
    @include h2-mq();

    span {
      font-weight: 400;
      @include foreign-gods();
    }
  }

  p {
    @include font-block-poppins(400, 28px, 48px);
    margin-top: 2rem;
    width: 100%;

    @include p-mq();

    @media only screen and (max-width: 768px) {
      margin-top: 1rem;
    }
  }
}
/////////////////////////////////////////////////////////////end of wrap2 styling

/////////////////////////////////////////////////////////wrap3 styling
.wrap3 {
  margin-top: 5rem;

  #upcoming-header > h2 {
    @include font-block-poppins(700, 65px, 75px);
    @include h2-mq();
  }

  .media-scroller {
    margin-top: 3rem;
    display: grid;
    gap: 3rem;
    grid-auto-flow: column;
    grid-auto-columns: 19%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    width: 100%;
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    padding-bottom: 2rem;

    @media only screen and (max-width: 767px) {
      gap: 5rem;
    }

    .media-group {
      text-align: center;
      @include purple-glow-container(17px);

      @media only screen and (max-width: 767px) {
        width: 150%;
      }

      @media only screen and (max-width: 400px) {
        width: 200%;
      }

      .number-tag {
        @include font-block-poppins(700, 24px, 34px);
        position: relative;
        background: rgba(81, 6, 117, 0.5);
        opacity: 0.9;
        border-radius: 40%;
        width: 40%;
        text-align: center;
        margin-left: 0.5%;

        @media only screen and (max-width: 767px) {
          @include font-block-poppins(700, 18px, 28px);
          margin-left: 1.5%;
        }
      }

      .media-head-el {
        text-transform: uppercase;
        padding-top: 1rem;
        @include font-block-poppins(700, 20px, 35px);
        inline-size: 100%;
        -o-object-fit: cover;
        object-fit: cover;

        @media only screen and (max-width: 545px) {
          @include font-block-poppins(700, 18px, 28px);
        }
      }

      p {
        @include font-block-poppins(400, 16px, 26px);
        padding: 1rem;

        @media only screen and (max-width: 545px) {
          @include font-block-poppins(400, 12px, 22px);
        }
      }
    }
  }

  .media-scroller > * {
    scroll-snap-align: start;
  }

  .purchase-token {
    float: right;
    margin-top: 3rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    p {
      text-transform: uppercase;
      @include font-block-poppins(700, 25px, 35px);

      @media only screen and (max-width: 767px) {
        @include font-block-poppins(700, 18px, 28px);
      }
    }
  }
}

//////////////////////////////////////////////////////////end of wrap3 styling

/////////////////////////////////////////////////////////scrollbar styling
::-webkit-scrollbar {
  height: 1rem;
}
::-webkit-scrollbar-track {
  background: hsl(281, 90.2%, 10.1%);
  border-radius: 100vw;
  margin-block: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: hsl(281, 90.2%, 15.1%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  border: 0.25rem solid hsl(281, 90.2%, 17.1%);
}
/////////////////////////////////////////////////////////scrollbar styling

/////////////////////////////////////////////////////////wrap4 div styling
.wrap4 {
  margin: 15rem auto 10rem;

  h2 {
    @include font-block-poppins(700, 65px, 75px);
    @include h2-mq();
    text-align: center;
    text-transform: uppercase;
  }

  .image-grid {
    margin: 50px auto 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 4rem;
    padding-left: 1rem;

    @media only screen and (max-width: 1000px) {
      grid-row-gap: 2rem;
    }

    @media only screen and (max-width: 500px) {
      grid-row-gap: 1rem;
    }

    .image-container {
      width: 80%;

      img {
        width: 100%;
      }
    }
    .purple-glow {
      width: 50%;
      min-height: 30px;
      border-radius: 50%;
      margin: 20px auto;
      background: linear-gradient(0deg, #aeaeae, #aeaeae), #aeaeae;
      opacity: 0.1;

      @media only screen and (max-width: 768px) {
        min-height: 15px;
      }
      @media only screen and (max-width: 500px) {
        min-height: 10px;
        margin: 10px auto;
      }
    }
  }

  .see-all-button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: right;
  }
}
/////////////////////////////////////////////////////////end of wrap4 div styling

/////////////////////////////////////////////////////////wrap5 div styling
.wrap5 {
  width: 100%;

  h2 {
    @include font-block-poppins(700, 65px, 75px);
    @include h2-mq();
    text-transform: uppercase;
    text-align: center;
  }

  .image-list-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;

    @media only screen and (max-width: 991px) {
      flex-direction: column;
    }

    .image-container {
      width: 40%;

      @media only screen and (max-width: 991px) {
        margin: 0 auto 20px;
      }

      img {
        width: 100%;
      }
    }
    /////////////////////////////////////////////////////////lists styling
    .list-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @mixin list-style {
        list-style: none;
        width: 100%;
        padding: 0 1rem;
      }
      ///////////////////////////////////////////////////orange-list
      #orange-bullet-list {
        @include list-style();

        li {
          @include font-block-poppins(400, 24px, 34px);
          @include p-mq();
          width: 100%;
        }
      }

      #orange-bullet-list li::before {
        @include list-bullet-color(#d5752f);
      }
      ////////////////////////////////////////////////////////yellow-list
      #yellow-bullet-list {
        @include list-style();

        li {
          @include font-block-poppins(400, 24px, 34px);
          @include p-mq();
        }
      }

      #yellow-bullet-list li::before {
        @include list-bullet-color(#dec858);
      }
      ///////////////////////////////////////////////////red-list
      #red-bullet-list {
        @include list-style();

        li {
          @include font-block-poppins(400, 24px, 34px);
          @include p-mq();
        }
      }

      #red-bullet-list li::before {
        @include list-bullet-color(#e65f61);
      }
    }
    /////////////////////////////////////////////////////////end of lists styling
  }

  .more-info-button {
    margin-top: 1rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    float: right;
  }
}
/////////////////////////////////////////////////////////end of wrap5 div styling

/////////////////////////////////////////////////////////wrap6 div styling
.wrap6 {
  margin-top: 140px;

  #flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;

    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }

    .our-clients-container {
      width: 100%;
      align-items: center;

      @media only screen and (max-width: 767px) {
        width: 100%;
      }

      h2 {
        @include font-block-poppins(700, 65px, 75px);
        @include h2-mq();
        text-transform: uppercase;

        @media only screen and (max-width: 767px) {
          margin-top: 50px;
          text-align: center;
        }
      }

      p {
        @include font-block-poppins(400, 24px, 34px);
        @include p-mq();
        margin-top: 30px;
        text-align: left;

        @media only screen and (max-width: 767px) {
          text-align: center;
          margin-top: 20px;
        }
      }

      #learn-more-container {
        margin-top: 1.5rem;
        width: 100%;
        display: flex;

        #learn-more-btn {
          @media only screen and (max-width: 767px) {
            float: none;
            margin: 0 auto;
          }
        }
      }
    }

    .images-grid-conatiner {
      width: 70%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2rem;

      justify-items: center;

      .image-star-container {
        width: 70%;
        @include purple-glow-container(10px);
        padding: 10px;
        display: flex;

        flex-direction: column;
        align-items: center;

        img {
          width: 50%;
          padding-top: 0.5rem;

          @media only screen and (max-width: 767px) {
            width: 30%;
          }
        }

        .stars-group-container {
          width: 80%;
          display: flex;
          gap: 0.1rem;
          margin: 0 auto;
          padding-bottom: 0.5rem;

          .star-container {
            width: 100%;

            img {
              width: 100%;
              padding-top: 1rem;

              @media only screen and (max-width: 547px) {
                padding-top: 0;
              }
            }
          }
        }
      }
    }
  }
}

.wrap7 {
  margin-top: 120px;

  h2 {
    @include font-block-poppins(700, 65px, 75px);
    @include h2-mq();
    text-align: center;
  }

  form {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;

    @media only screen and (max-width: 900px) {
      margin-top: 30px;
    }

    @media only screen and (max-width: 500px) {
      margin-top: 20px;
    }

    .input-container {
      display: flex;
      gap: 2rem;
      flex-direction: column;
      width: 100%;

      input {
        @include purple-glow-container(20px);
        width: 100%;
        padding: 1rem 2rem;
        font-family: $font-poppins;
        color: $creamyWhite;

        @media only screen and (max-width: 900px) {
          padding: 1rem 1rem;
        }

        &::-webkit-input-placeholder {
          color: $creamyWhite;
        }

        &::-moz-placeholder {
          color: $creamyWhite;
        }

        &:-ms-input-placeholder {
          color: $creamyWhite;
        }

        &::-ms-input-placeholder {
          color: $creamyWhite;
        }

        &::placeholder {
          color: $creamyWhite;
        }
      }
    }

    textarea {
      @include purple-glow-container(30px);
      min-height: 300px;
      padding: 1rem 2rem;
      font-family: $font-poppins;
      color: $creamyWhite;

      @media only screen and (max-width: 900px) {
        padding: 1rem 1rem;
      }

      &::-webkit-input-placeholder {
        color: $creamyWhite;
      }

      &::-moz-placeholder {
        color: $creamyWhite;
      }

      &:-ms-input-placeholder {
        color: $creamyWhite;
      }

      &::-ms-input-placeholder {
        color: $creamyWhite;
      }

      &::placeholder {
        color: $creamyWhite;
      }
    }

    .send-msg-btn {
      margin-top: 0.5rem;
      float: right;

      @media only screen and (max-width: 900px) {
        margin-top: 0;
      }

      button {
        float: right;

        span {
          color: $creamyWhite;
        }
      }
    }
  }
}

/*********************************************** footer styling *********************************************/
footer {
  background: #40055c;
  margin-top: 20rem;
  width: 100%;
  padding-bottom: 0.5rem;

  #footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;

    .footer-header {
      flex-shrink: 1;
      flex-grow: 1;
      width: 30%;
      @include font-block-open-sans(700, 25px, 36px);
      //   border: 2px blue solid;

      #footer-header-link {
        color: $white;
      }
    }

    #footer-items {
      flex-shrink: 1;
      flex-grow: 1;
      //   border: 2px blue solid;
      align-self: center;
      list-style: none;

      ///////////////////////////////////nested flexbox for footer-links
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      margin: 0;
      gap: 0.5rem;

      @include font-block-open-sans(400, 18px, 24px);

      .footer-links {
        flex-shrink: 1;
        flex-grow: 1;
        color: $white;
      }

      .footer-contact-btn {
        @include contact-btn(0);
      }

      #footer-contact-link {
        @include contact-link();
      }

      .footer-login-btn {
        @include login-btn(0, 0);
      }

      #footer-login-link {
        @include login-link();
      }
    }
  }
}
